.card {
    background-color: #FFF;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    margin: auto;
    max-width: 600px;
    padding: 30px 16px;
    width: 100%;


    .card-title {
        font-size: 22px;
        font-weight: normal;
        padding: 10px 0 10px;
    }
}
